<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/php; charset=utf-8" />
        <title>Site Template - Welcome!</title>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    </head>

    <body ng-app="ZappApp">

    <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">Witaj w nowej wersji CMS!</a>
	  </div>
	  <ul class="nav navbar-nav">
	    <li class="active"><a href="#">Produkty</a></li>
	    <li><a href="#">Zamówienia</a></li>
	    <li><a href="#">Wysyłki</a></li> 
	  </ul>
	</div>
	<div class="container" ng-controller="ProductController">
	     <div id="navbar" class="navbar-collapse collapse">
		  <form ng-submit="CheckIdBasic()" class="navbar-form navbar-right">
		      <div class="form-group">
			  <input type="text" placeholder="Podaj ID" class="form-control" ng-model="checkId">
		      </div>
		      <div ng-if="attributeSelect" class="form-group">
			    <select ng-model="data.singleSelect" ng-init="data.singleSelect='0'" class="form-control">
				    <option value="0">Wybierz kategorię</option>
				    <option ng-repeat="item in attributeSelect" value="{{item.productAttributeBoth}}">{{item.name}}</option>
			    </select>
		      </div>
		      <input type="submit" class="btn btn-success" value="Wyszukaj" />
		  </form>
		  <form class="navbar-form navbar-right">
		    <div class="form-group">
			<input ng-keyup="CheckName()" type="text" placeholder="Podaj nazwę" class="form-control" ng-model="basicName">
		    </div>
		    <div class="form-group">
			<button ng-click="CheckNameConditions()" class="btn btn-warning">Dodatkowe kryteria</button>
		    </div>
		    <input type="submit" class="btn btn-success" value="Wyszukaj" />
		  </form>
	      </div>
	      <div ng-if="basicId" id="navbar" class="navbar-collapse collapse" style="color: white;">
		    <p>ID: {{basicId.id}}, Nazwa: 
			  <a href="http://ad9bis.vot.pl/weglarki-h0/{{basicId.id}}-{{basicId.linkRewrite}}.html" target="blank">{{basicId.name}}</a>
			  <span ng-if="basicId.attribute.new!='0'">, atrybut: {{basicId.attribute.newName}}</span>
			  </p>
		    <p>Ilość - nowy sklep: {{basicId.quantity.new}}</p>
		    <p>Ilość - stary sklep: {{basicId.quantity.old}}</p>
		    <div class="col-xs-12">
			  <div class="col-xs-2">
			      <button ng-click="CheckIdBasicQuantityChange()" class="btn btn-info">Zmień ilość</button>
			  </div>
			  <div ng-if="basicQuantityChange" class="col-xs-3">
			      <input type="text" placeholder="Podaj nową ilość" class="form-control" id="basicQuantityInput" />
			  </div>
			  <div ng-if="basicQuantityChange" class="col-xs-3">
			      <select class="form-control" id="basicQuantityDb">
				    <option value="both">Zapisz w obu bazach</option>
				    <option value="linuxPl">Zapisz w nowej bazie</option>
				    <option value="ogicom">Zapisz w starej bazie</option>
			      </select>
			  </div>
			  <div ng-if="basicQuantityChange" class="col-xs-2">
			      <button ng-click="UpdateQuantity()" class="btn btn-primary">Zapisz ilość</button>
			  </div>
		    </div>
		    <p>Cena - nowy sklep: {{basicId.price.new}} zł 
			  <span ng-if="basicId.priceReal.new" class="label label-default">- UWAGA RABAT {{basicId.discount.new.percentage}} %! Realna cena: {{basicId.priceReal.new}} zł</span>
		    </p>
		    <p>Cena - stary sklep: {{basicId.price.old}} zł 
			  <span ng-if="basicId.priceReal.old" class="label label-default">- UWAGA RABAT {{basicId.discount.old.reduction}} zł! Realna cena: {{basicId.priceReal.old}} zł</span>
		    </p>
		    <div class="col-xs-12">
			<div class="col-xs-2">
			    <button ng-click="CheckIdBasicPriceChange()" class="btn btn-info">Zmień cenę</button>
			</div>
			<div ng-if="basicPriceChange" class="col-xs-3">
			      <input type="text" placeholder="Podaj nową cenę" class="form-control" id="basicPriceInput" />
			</div>
			<div ng-if="basicPriceChange" class="col-xs-3">
			      <select class="form-control" id="basicPriceDb">
				    <option value="both">Zapisz w obu bazach</option>
				    <option value="linuxPl">Zapisz w nowej bazie</option>
				    <option value="ogicom">Zapisz w starej bazie</option>
			      </select>
			  </div>
			  <div ng-if="basicPriceChange" class="col-xs-2">
			      <button ng-click="UpdatePrice()" class="btn btn-primary">Zapisz cenę</button>
			  </div>
		   </div>
		   <div ng-if="basicUpdate.message" class="col-xs-12">
			  <br>
			  <div class="alert alert-success fade in">
				<strong>{{basicUpdate.message}}</strong>
			  </div>
		   </div>
		   <div class="col-xs-12" style="margin-top: 10px;">
		      <div class="col-xs-2">
			   <button ng-click="" class="btn btn-primary">Pełna edycja</button> 
		      </div>
			   <button ng-click="CheckIdBasicRemove()" class="btn btn-danger pull-right">Usuń wyniki</button>
		   </div>
	      </div>
	      <div ng-if="nameAdditionalConditions" id="navbar" class="form-group form-inline" style="color: white;">
		    <div ng-if="categories" id="navbar" class="form-group form-inline" style="color: white;">
			<div class="col-md-5">
			      <label>Kategoria</label>
			      <select class="form-control">
				    <option value="0">Dowolna kategoria</option>
				    <option ng-repeat="item in categories" value="{{item.id}}">{{item.metaTitle}}</option>
			      </select>
			</div>
		    </div>
		    <div ng-if="manufactorers" id="navbar" class="form-group form-inline pull-right" style="color: white;">
			<div class="col-md-4">
			      <label>Producent</label>
			      <select class="form-control">
				    <option value="0">Dowolny producent</option>
				    <option ng-repeat="item in manufactorers" value="{{item.id}}">{{item.name}}</option>
			      </select>
			</div>
		    </div>
	      </div>
	      <!--
	      <div id="navbar" class="navbar-collapse collapse">
		<form ng-submit="UpdateData()" class="navbar-form navbar-right">
		  <div class="form-group">
		    <input type="text" placeholder="ID number" class="form-control" ng-model="productId">
		  </div>
		  <div class="form-group">
		    <input type="hidden" placeholder="Attribute - 0 as default" value="0" class="form-control" ng-model="productAttribute">
		  </div>
		  <div class="form-group">
		    <input type="text" placeholder="Set new quantity" class="form-control" ng-model="productQuantity">
		  </div>
		  <div class="form-group">
		    <select class="form-control" ng-model="productDb">
			  <option value="both">Both</option>
			  <option value="linuxPl">New</option>
			  <option value="ogicom">Old</option>
		    </select>
		  </div>
		  <input type="submit" class="btn btn-success" value="Change quantity" />
		</form>
	      </div><!--/.navbar-collapse -->
	 </div>
    </nav>

       

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Response from the server!</h3>
        <p>Server says: {{ServerResponse}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container" ng-controller="ProductController">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4" ng-repeat="item in nameList">
            <div ng-if="item.id">
              <h2>{{item.id}}</h2>
              <p>{{item.name}}</p>
              <p><a class="btn btn-default" href="#/{{item.id}}" role="button">View details &raquo;</a></p>
            </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Ad9BIS.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>