<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/php; charset=utf-8" />
        <title>Site Template - Welcome!</title>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    </head>

    <body ng-app="ZappApp">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="NewsController">
	  <form ng-submit="UpdateData()" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="ID number" class="form-control" ng-model="productId">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Attribute - 0 as default" class="form-control" ng-model="productAttribute">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Set new quantity" class="form-control" ng-model="productQuantity">
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="productDb">
		    <option value="both">Both</option>
		    <option value="linuxPl">New</option>
		    <option value="ogicom">Old</option>
              </select>
            </div>
            <input type="submit" class="btn btn-success" value="Change quantity" />
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Response from the server!</h3>
        <p>Server says: {{ServerResponse}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container" ng-controller="NewsController">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4" ng-repeat="item in news">
            <div ng-if="item.id">
              <h2>{{item.id}}</h2>
              <p>{{item.name}}</p>
              <p><a class="btn btn-default" href="#/{{item.id}}" role="button">View details &raquo;</a></p>
            </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>