<style>
      .background {
	    background-color: #FFFACD;
	    border-radius: 10px;
	    padding-bottom: 20px;
      }
      .backgroundLightPink {
	    background-color: #FFFFF0;
	    border-radius: 10px;
      }
      .border {
	    border: 1px solid;
	    border-radius: 10px;
	    border-color: #A9A9A9;
      }
      .centered {
	    text-align: center;
      }
      .colorSoftRed {
	    color: #DC143C;
      }
      .marginBottom20 {
	    margin-bottom: 20px;
      }
      .marginLeft7 {
	    margin-left: 7px;
      }
      .marginTop10 {
	    margin-top: 10px;
      }
      .minusMarginTop8 {
	    margin-top: -8px;
      }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	      <div class="col-xs-12">
		    <div class="navbar-header">
			    <a class="navbar-brand" href="#/">Witaj w nowej wersji CMS!</a>
		    </div>
		    <ul class="nav navbar-nav">
			  <li><a href="#/products">Produkty</a></li>
			  <li class="active"><a href="#/orders">Zamówienia</a></li>
			  <li><a href="#/postal">Wysyłki</a></li> 
		    </ul>
	        </div>
		      <form class="navbar-form">
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-7">
			        <div class="form-group pull-right">
					<label>
					      <h2><span class="label label label-info">
						    <span class="glyphicon glyphicon-euro" aria-hidden="true" ></span> Zamówienia</span>
					      </h2>
					</label>
					<select ng-model="orderDb" ng-init="orderDb='0'" class="form-control minusMarginTop8">
					      <option class="text-warning" value="0">Wybierz panel</option>
					      <option class="text-primary" value="old">Zamówienie w starym sklepie</option>
					      <option class="text-primary" value="new">Zamówienie w nowym sklepie</option>
					</select>
					<input ng-model="orderId" type="text" placeholder="Podaj numer zamówienia" class="form-control minusMarginTop8 centered">
					<button ng-click="orderSearch()" class="btn btn-success minusMarginTop8">Wyszukaj</button>
				</div>
			    </div>
			    <div class="col-xs-3">
			    </div>
			    <div class="col-xs-3">
			    </div>
			    <div class="col-xs-9">
			        <div class="form-group pull-right">
					<label>
					      <h2>
						    <span class="label label label-info">
						    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="padding-right: 24px;"></span>  Pozostałe</span>
					      </h2>
					</label>
					<select ng-model="otherAction" ng-init="otherAction='0'" class="form-control minusMarginTop8">
					      <option class="text-warning" value="0" class="icon">Wybierz akcję</option>
					      <option class="text-primary" value="voucher">Sprawdź numer kuponu (SP)</option>
					      <option class="text-primary" value="voucherCount">Oblicz 15% rabat (SP)</option>
					      <option class="text-primary" value="mail">Wyślij ponowny mail (SP)</option>
					      <option class="text-primary" value="postalOld">Numer przesyłki - stary panel</option>
					      <option class="text-primary" value="postalNew">Numer przesyłki - nowy panel</option>
					</select>
					<input ng-model="otherActionId" type="text" placeholder="Podaj numer zamówienia" class="form-control minusMarginTop8 centered">
					<button ng-click="additionalAction()" class="btn btn-success minusMarginTop8">Wyszukaj</button>
				</div>
			    </div>
			</form>
	</div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
	<div class="container">
	    <p>_<br>_</p>
	</div>
    </div>
        <div ng-if="orderData.display" class="container">
		<div class="col-xs-12 marginBottom background">
		      <h2 class="centered">Szczegóły zamówienia nr <b>{{currentId}}</b> ({{orderData.reference}}) - {{currentDb}} panel.</h2>
		      <div class="col-xs-4 marginTop">
			    <h4>Klient: <b>{{orderData.customer.firstname}} {{orderData.customer.lastname}}</b></h4>
		      </div>
		      <div class="col-xs-5 marginTop">
			    <h4>Adres e-mail: <b>{{orderData.customer.email}}</b></h4>
		      </div>
		      <div class="col-xs-3 marginTop">
			    <h4>Kwota zamówienia: <b>{{orderData.totalPaid}} zł</b></h4>
		      </div>
		      <div ng-if="orderData.undelivered" class="col-xs-9 marginTop">
			    <h4>Forma płatności: <b>{{orderData.payment}}</b></h4>
		      </div>
		      <div ng-if="orderData.undelivered" class="col-xs-3 marginTop">
			    <h4>Kwota porto: <b>{{orderData.totalShipment}} zł</b></h4>
		      </div>
		</div>
	</div>
	<div ng-if="orderData.details" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-1">
		      </div>
		      <div class="col-xs-10 marginBottom backgroundLightPink">
			    <table>
				  <tr>
					  <th class="centered" style="width: 10%;">Miniatura</th>
					  <th class="centered" style="width: 10%;">Numer ID</th> 
					  <th class="centered" style="width: 37%;">Nazwa</th>
					  <th class="centered" style="width: 10%;">Na stanie </th>
					  <th class="centered" style="width: 12%;">Na stanie<br>(drugi sklep)</th>
					  <th class="centered" style="width: 10%;">Zamówione</th>
					  <th class="centered" style="width: 10%;">Opcje</th>
				  </tr>
				  <tr ng-repeat="item in orderData.cartDetails">
					  <td><img ng-src="{{item.cover}}" class="border" height="100" width="100"></td>
					  <td class="centered">{{item.productId}}</td>
					  <td class="centered">
						<a href="http://ad9bis.vot.pl/weglarki-h0/{{item.productId}}-{{item.linkRewrite}}.html" target="blank">{{item.productName}}</a>
					  </td>
					  <td class="centered">{{item.quantity.current}}</td>
					  <td class="centered">{{item.quantity.toUpdate}}</td>
					  <td class="centered">{{item.productQuantity}}</td>
					  <td class="centered">
						<p><a class="btn btn-primary marginTop10" href="#/products/{{item.productId}}" role="button">Pełna edycja &raquo;</a></p>
					  </td>
				  </tr>
			    </table>
			    <div class="col-xs-12">
				  <div class="col-xs-2">
				  </div>
				  <div class="col-xs-2">
					<a ng-href="#/orders/{{dbUrl}}/{{currentId}}/even" class="btn btn-primary marginBottom20 marginTop10 pull-left" role="button" >Wyrównaj ilości</a>
				  </div>
				  <div class="col-xs-4">
					<button ng-click="mailShowDeliveryNumber()" class="btn btn-warning marginBottom20 marginTop10">Poinformuj klienta o numerze nadania</button>
				  </div>
				  <div class="col-xs-2">
					<a ng-href="#/orders/" class="btn btn-danger marginTop10 marginBottom20" role="button" >Usuń wyniki</a>
				  </div>
				  <div class="col-xs-2">
				  </div>
			    </div>
			    <div ng-if="showDeliveryNumber" class="col-xs-12">
				    <div class="col-xs-2">
				    </div>
				    <div class="col-xs-2">
					  <h4><span class="label label-default pull-right">Wprowadź numer przesyłki</span></h4>
				    </div>
				    <div class="col-xs-4">
					  <input ng-model="orderData.deliveryNumber" type="text" placeholder="Podaj numer" value class="form-control marginBottom20 centered">
				    </div>
				    <div class="col-xs-2">
					<button ng-click="mailSendDeliveryNumber()" class="btn btn-primary marginBottom20">Wyślij email</button>
				  </div>
				  <div class="col-xs-2">
				  </div>
			    </div>
		      </div>
		      <div class="col-xs-1">
		      </div>
		</div>
        </div>
        <div ng-if="orderData.undelivered" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-1">
		      </div>
		      <div class="col-xs-10 marginBottom backgroundLightPink">
			    <table>
				  <tr>
					  <th class="centered" style="width: 10%;">Miniatura</th>
					  <th class="centered" style="width: 10%;">Numer ID</th> 
					  <th class="centered" style="width: 35%;">Nazwa</th>
					  <th class="centered" style="width: 12%;">Cena jednostkowa</th>
					  <th class="centered" style="width: 10%;">Zniżka</th>
					  <th class="centered" style="width: 10%;">Zamówione</th>
					  <th class="centered" style="width: 12%;">Suma</th>
				  </tr>
				  <tr ng-repeat="item in orderData.cartDetails">
					  <td><img ng-src="{{item.cover}}" class="border" height="100" width="100"></td>
					  <td class="centered">{{item.productId}}</td>
					  <td class="centered">
						<a href="http://ad9bis.vot.pl/weglarki-h0/{{item.productId}}-{{item.linkRewrite}}.html" target="blank">{{item.productName}}</a>
					  </td>
					  <td class="centered">{{item.unitPrice}} zł</td>
					  <td class="centered">{{item.reduction}}</td>
					  <td class="centered">{{item.productQuantity}}</td>
					  <td class="centered">{{item.totalPrice}} zł</td>
				  </tr>
			    </table>
			    <a ng-href="http://modele-ad9bis.pl/cms_spa/web/app_dev.php/orders/{{dbUrl}}/{{currentId}}/mail?action=undelivered&result=display" target="_blank" class="btn btn-info pull-left marginBottom20 marginTop10" role="button" >Zobacz treść maila</a>
			    <button ng-click="mail(currentId, dbUrl, 'undelivered')" class="btn btn-primary marginLeft7 marginBottom20 marginTop10">Wyślij maila</button>
			    <a ng-href="#/orders/" class="btn btn-danger pull-right" role="button" >Usuń wyniki</a>
		      </div>
		      <div class="col-xs-1">
		      </div>
		</div>
        </div>
        <div ng-if="updateResult[0]" class="container">
		<div class="col-xs-12 marginBottom background">
		      <h2 class="centered">Wyrównanie ilości produktów - zamówienie nr <b>{{currentId}}</b> - {{currentDb}} panel.</h2>
		      <h3 class="centered">SZCZEGÓŁY:</h3>
		</div>
	</div>
	<div ng-if="updateResult[0]" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-1">
		      </div>
		      <div class="col-xs-10 marginBottom backgroundLightPink">
			    <div class="col-xs-12  marginTop10">
				  <div class="col-xs-1 centered">
					<b>Miniatura</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Numer ID</b>
				  </div>
				  <div class="col-xs-4 centered">
					<b>Nazwa</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Ilość<br>(zakup)</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Ilość<br>({{panelName.current}})</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Przed ({{panelName.second}})</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Po ({{panelName.second}})</b>
				  </div>
				  <div class="col-xs-2 centered">
					<b>Akcja</b>
				  </div>
			    </div>
			    <div ng-repeat="item in updateResult" class="col-xs-12 marginTop10">
				  <div class="col-xs-1 centered">
					  <img ng-src="{{item.cover}}" class="border" height="50" width="50">
				  </div>
				  <div class="col-xs-1 centered marginTop10">
					  {{item.id}}
				  </div>
				  <div class="col-xs-4 centered marginTop10">
					  <a href="http://ad9bis.vot.pl/weglarki-h0/{{item.id}}-{{item.linkRewrite}}.html" target="blank">{{item.name}}</a>
				  </div>
				  <div class="col-xs-1 centered marginTop10">
					  {{item.ordered}}
				  </div>
				  <div class="col-xs-1 centered marginTop10">
					  {{item.baseDbQuantity}}
				  </div>
				  <div class="col-xs-1 centered marginTop10">
					  {{item.quantityBeforeChange}}
				  </div>
				  <div class="col-xs-1 centered marginTop10">
					  {{item.quantityAfterChange}}
				  </div>
				  <div class="col-xs-2 centered">
					  <b>{{item.modification}}</b>
					  <br>
					  <a ng-href="#/products/{{item.id}}/history">Historia stanów</a>
				  </div>
		            </div>
		            <a ng-href="#/orders/{{dbUrl}}/{{currentId}}" class="btn btn-primary pull-left marginBottom20 marginTop10" role="button" >Powrót do zamówienia</a>
		            <a ng-href="#/orders/" class="btn btn-danger pull-right marginBottom20" role="button" >Usuń wyniki</a>
		      </div>
		      <div class="col-xs-1">
		      </div>
		</div>
	</div>
	
	<div ng-if="discountResult" class="container">
		<div class="col-xs-12 marginBottom background">
		      <h2 class="centered">Zamowienie nr <b>{{currentId}}</b> - wyliczenie 15% rabatu.</h2>
		      <div class="col-xs-6 marginTop">
			    <h4>Klient: <b>{{discountResult.customer.firstname}} {{discountResult.customer.lastname}}</b></h4>
		      </div>
		      <div class="col-xs-6 marginTop pull-right">
			    <h4>Adres e-mail: <b>{{discountResult.customer.email}}</b></h4>
		      </div>
		</div>
	</div>
	<div ng-if="discountResult" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-1">
		      </div>
		      <div class="col-xs-10 marginBottom backgroundLightPink">
			    <div class="col-xs-12 marginTop10">
				  <div class="col-xs-1 centered">
					<b>Numer ID</b>
				  </div>
				  <div class="col-xs-3 centered">
					<b>Nazwa</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Cena za szt.</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Zniżka</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Kupiono</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>Suma</b>
				  </div>
				  <div class="col-xs-2 centered">
					<b>Cena po rabacie</b>
				  </div>
				  <div class="col-xs-2 centered">
					<b>Suma po rabacie</b>
				  </div>
			    </div>
			    <div ng-repeat="item in discountResult.cartDetails" class="col-xs-12 marginTop10">
				  <div class="col-xs-1 centered">
					<b>{{item.productId}}</b>
				  </div>
				  <div class="col-xs-3 centered">
					<b>Nazwa{{item.productName}}</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>{{item.unitPrice}}</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>{{item.reduction}}</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>{{item.productQuantity}}</b>
				  </div>
				  <div class="col-xs-1 centered">
					<b>{{item.totalPrice}}</b>
				  </div>
				  <div class="col-xs-2 centered colorSoftRed">
					<b>{{item.unitPriceDiscount}} zł</b>
				  </div>
				  <div class="col-xs-2 centered colorSoftRed">
					<b>{{item.totalPriceDiscount}} zł</b>
				  </div>
			    </div>
		      </div>
		</div>
	</div>
	<div ng-if="discountResult" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-3">
		      </div>
		      <div class="col-xs-6 background">
			    <h2 class="centered">PODSUMOWANIE:</h2>
			    <div class="col-xs-12">
				  <div class="col-xs-9">
					<h4>Suma wszystkich produktów:</h4>
				  </div>
				  <div class="col-xs-3">
					<h4>{{discount.totalProduct}} zł</h4>
				  </div>
				  <div class="col-xs-9">
					<h4>Suma po rabacie:</h4>
				  </div>
				  <div class="col-xs-3 colorSoftRed">
					<h4>{{discount.totalProductDiscount}} zł</h4>
				  </div>
				  <div class="col-xs-9">
					<h4>Suma produktów z wysyłką:</h4>
				  </div>
				  <div class="col-xs-3">
					<h4>{{discount.totalPaid}} zł</h4>
				  </div>
				  <div class="col-xs-9">
					<h4>Suma z wysyłką po rabacie:</h4>
				  </div>
				  <div class="col-xs-3 colorSoftRed">
					<h4>{{discount.totalPaidDiscount}} zł</h4>
				  </div>
				  <div ng-if="discount.discountExtended" class="col-xs-12 centered">
					<br>
					<p><b>UWAGA! Został przyznany maksymalny rabat w wysokości 50zł.<b></p>
				  </div>
			    </div>
			    <a ng-href="http://modele-ad9bis.pl/cms_spa/web/app_dev.php/orders/{{dbUrl}}/{{currentId}}/mail?action=discount&result=display" target="_blank" class="btn btn-info pull-left marginBottom20 marginTop10" role="button" >Zobacz treść maila</a>
			    <button ng-click="mail(currentId, dbUrl, 'discount')" class="btn btn-primary marginLeft7 marginBottom20 marginTop10">Wyślij maila</button>
			    <a ng-href="#/orders/" class="btn btn-danger pull-right marginTop10" role="button" >Usuń wyniki</a>
		      </div>
		      <div class="col-xs-3">
		      </div>
		</div>
	</div>
	
	<div ng-if="voucherResult" class="container">
		<div class="col-xs-12 marginBottom background">
		      <h2 class="centered">Wyniki wyszukiwania kuponów dla Klienta: {{voucherResult.customer.firstname}} {{voucherResult.customer.lastname}}</h2>
		      <div class="col-xs-4 marginTop">
			    <h4>Adres e-mail: <b>{{voucherResult.customer.email}}</b></h4>
		      </div>
		      <div ng-if="voucherResult.customer.secondShopctivity!=false" class="col-xs-5 marginTop">
			    <h4>Klient posiada już konto na nowym sklepie.</h4>
		      </div>
		      <div class="col-xs-3 marginTop pull-right">
			    <h4>Ostatni kupon ma numer: <b>{{voucherResult.lastVoucher}}</b></h4>
		      </div>
		</div>
	</div>
	<div ng-if="voucherResult" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-1">
		      </div>
		      <div class="col-xs-10 marginBottom backgroundLightPink">
			      <div class="col-xs-12 marginTop10">
				    <div class="col-xs-2 centered">
					    <b>Numer ID</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>Referencja</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>Koszt produktów</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>Koszt transportu</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>Data</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>Numer kuponu</b>
				    </div>
			      </div>
			      <div class="col-xs-12 marginTop10">
			      </div>
			      <div ng-repeat="item in voucherResult.data" class="col-xs-12 marginTop10">
				    <div class="col-xs-2 centered">
					    <b>{{item.id}}</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>{{item.reference}}</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>{{item.totalProduct}}</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>{{item.totalShipping}}</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>{{item.dateAdd}}</b>
				    </div>
				    <div class="col-xs-2 centered">
					    <b>{{item.voucherNumber}}</b>
				    </div>
			      </div>
			      <div class="col-xs-12 marginTop10">
			      </div>
			      <div class="col-xs-12 marginTop10">
				    <div class="col-xs-2">
					  <h4><span class="label label-default">Aktualny numer</span></h4>
				    </div>
				    <div class="col-xs-2">
					  <input ng-model="voucherResult.lastVoucher" type="text" placeholder="Nadpisz" class="form-control marginBottom20 centered">
				    </div>
				    <div class="col-xs-2">
					  <button ng-click="mailVoucher('display')" class="btn btn-info marginBottom20">Zobacz treść maila</button>
			            </div>
			            <div class="col-xs-2">
					  <button ng-click="mailVoucher('send')" class="btn btn-primary pull-right marginBottom20">Wyślij maila</button>
			            </div>
				    <div class="col-xs-4">
					  <a ng-href="#/orders/" class="btn btn-danger pull-right marginBottom20" role="button" >Usuń wyniki</a>
				    </div>
			      </div>
		      </div>
		      <div class="col-xs-1">
		      </div>
		</div>
	</div>
	<div ng-if="noOrder" class="container">
		<div class="col-xs-12 centered alert alert-danger marginTop">
			  <strong>UWAGA!</strong> {{noOrder}}
		</div>
        </div>
	<div ng-if="email" class="container">
		<div class="col-xs-12 centered alert alert-success marginTop">
			  <strong>UWAGA!</strong> {{email}}
		</div>
        </div>
	
	
    <div class="container">
	<footer>
	  <p class="pull-right">&copy; 2016 Ad9BIS.</p>
	</footer>
    </div> <!-- /container -->
