<style>
      .background {
	    background-color: #FFFACD;
	    border-radius: 10px;
	    padding-bottom: 20px;
      }
      .backgroundLightPink {
	    background-color: #FFFFF0;
	    border-radius: 10px;
      }
      .centered {
	    text-align: center;
      }
      .marginTop18 {
	    margin-top: 18px;
      }
      .padding-top10 {
	    padding-top: 10px;
      }
      .width100 {
	    width: 100%;
      }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	      <div class="col-xs-12">
		    <div class="navbar-header">
			    <a class="navbar-brand" href="#/">Witaj w nowej wersji CMS!</a>
		    </div>
		    <ul class="nav navbar-nav">
			  <li><a href="#/products">Produkty</a></li>
			  <li><a href="#/orders">Zamówienia</a></li>
			  <li class="active"><a href="#/postal">Wysyłki</a></li> 
		    </ul>
	        </div>
	        <div ng-if="postal.current" class="col-xs-12">
		      <div class="col-xs-3">
		      </div>
		      <div class="col-xs-2">
			        <label>
					<h2><span class="label label label-info">
						    <span class="glyphicon glyphicon-euro" aria-hidden="true" ></span> Bieżąca kwota</span>
					</h2>
				</label>
		      </div>
		      <div class="col-xs-2">
			    <input ng-model="postal.current" ng-disabled="postal.current" type="text" class="form-control marginTop18 centered">
		      </div>
		      <div class="col-xs-1">
			    <button ng-click="inputAdd()" class="btn btn-success marginTop18 width100">Dodaj</button>
		      </div>
		      <div class="col-xs-1">
			    <button ng-click="inputSubtract()" class="btn btn-success marginTop18 width100">Odejmij</button>
		      </div>
		      <div class="col-xs-3">
		      </div>
	        </div>
	        <div ng-if="postal.inputAdd" class="col-xs-12">
		      <div class="col-xs-4">
		      </div>
		      <div class="col-xs-2">
			    <input ng-model="postal.add" type="text" placeholder="Wpisz kwotę do dodania" class="form-control">
		      </div>
		      <div class="col-xs-2">
			    <button ng-click="postalChange('add')" class="btn btn-success width100">Dodaj środki</button>
		      </div>
		      <div class="col-xs-4">
		      </div>
	        </div>
	        <div ng-if="postal.inputSubtract" class="col-xs-12">
		      <div class="col-xs-4">
		      </div>
		      <div class="col-xs-2">
			    <input ng-model="postal.subtract" type="text" placeholder="Wpisz kwotę do odjęcia" class="form-control">
		      </div>
		      <div class="col-xs-2">
			    <button ng-click="postalChange('subtract')" class="btn btn-success width100">Odejmij środki</button>
		      </div>
		      <div class="col-xs-4">
		      </div>
	        </div>
	</div>
</nav>
<div class="jumbotron">
	<div class="container">
	    <p></p>
	</div>
</div>
<div ng-if="postal.list" class="container">
		<div class="col-xs-12 marginBottom background padding-top10">
		      <h2 class="centered">Historia środków na przesyłki (ostatnie 5 wpisów)</h2>
		</div>
</div>
<div ng-if="postal.list" class="container">
		<div class="col-xs-12">
		      <div class="col-xs-3">
		      </div>
		      <div class="col-xs-6 backgroundLightPink">
				  <div class="col-xs-2 centered">
					<h4 >LP.</h4>
				  </div>
				  <div class="col-xs-4 centered">
					<h4>KWOTA</h4>
				  </div>
				  <div class="col-xs-6 centered">
					<h4>DATA</h4>
				  </div>
		      </div>
		      <div class="col-xs-3">
		      </div>
		</div>
		<div ng-repeat="item in postal.list" class="col-xs-12">
		      <div class="col-xs-3">
		      </div>
		      <div class="col-xs-6 backgroundLightPink">
			    <div class="col-xs-2 centered">
					<h5>{{item.number}}.</h5>
			    </div>
			    <div class="col-xs-4 centered">
					<h5>{{item.current}} zł</h5>
			    </div>
			    <div class="col-xs-6 centered">
					<h5>{{item.date}}</h5>
			    </div>
		      </div>
		      <div class="col-xs-3">
		      </div>
		</div>
</div>
<div ng-if="postalerror" class="container">
	<div class="col-xs-12 centered alert alert-danger marginTop">
			 <strong>UWAGA!</strong> {{postalerror}}
	</div>
</div>
<div ng-if="postalmessage" class="container">
	<div class="col-xs-12 centered alert alert-success marginTop">
			 <strong>UWAGA!</strong> {{postalmessage}}
	</div>
</div>
		      